* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BrightRed: hsl(12, 88%, 59%);
    --DarkBlue: hsl(228, 39%, 23%);
    --DarkGrayishBlue: hsl(227, 12%, 61%);
    --VeryDarkBlue: hsl(233, 12%, 13%);
    --VeryPaleRed: hsl(13, 100%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

/* Spacing */
.gap {
    gap: 1em;
}

.margin--sm {
    margin: 2em 2em;
}

.margin--md {
    margin: 2em 0;
}

.margin--xsm {
    margin: 1rem;
}

.line__height--md {
    line-height: 2rem;
}

.margin__depoiment {
    margin: .8rem;
}

/* Section */
.section {
    display: flex;
    justify-content: center;
}

.section__first {
    background-image: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 4em -9em;
    background-size: 35em;
}


/* Container */
.container {
    max-width: 1440px;
    width: 100%;
}

.container__margin--sm {
    margin: .5em;
}

.container__margin--md {
    margin: 2em;
}

.flex {
    display: flex;
    flex-direction: column;
}

.container--row {
    flex-direction: row;
}

.container--column {
    flex-direction: column;
}

.container--space-between {
    justify-content: space-between;
}

/* Nav */

.logo {
    padding: .8em 0 0 0;
}

.nav__list {
    list-style-type: none;
}

/* Font */
.text__body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text__title--md {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.text__title {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font__title {
    font-size: 2.5rem;
}

.font__subtitle {
    font-size: 2rem;
}

.font__text {
    font-size: 1.1rem;
}

.font__text--sm {
    font-size: 1rem;
}

.font__text--xsm {
    font-size: .9rem;
}


/* Text Align and Color */

.text--blue {
    color: var(--DarkBlue);
}

.text--lightGray {
    color: var(--VeryLightGray);
}

.text--Gray {
    color: var(--DarkGrayishBlue);
}

.text--veryLightGray{
    color: var(--VeryLightGray);
}

.text--center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Img */
img {
    max-width: 100%;
}

.menu__icon {
    font-size: large;
}

.img__icon {
    max-width: 25%;
    align-self: center;
    transform: translateY(2em);
}

/* Button */
.button {
    display: flex;
    align-self: center;
    margin: 0;
}

.button__nav {
    background: none;
    border: none;
}

.button__first {
    background-color: var(--BrightRed);
    color: var(--VeryLightGray);
    border-style: none;
    font-weight: 700;
    border-radius: 10em;
    padding: 1em 2em;
    box-shadow: 0 0 15px var(--BrightRed);
}

.button__white{
    background-color: var(--VeryLightGray);
    color: var(--BrightRed);
    font-weight: 700;
     border-style: none;
    border-radius: 10em;
    padding: 1em 2.2em;
    margin: 2em;
}

.button__footer{
background-color: var(--BrightRed);
    color: var(--VeryLightGray);
    border-style: none;
    font-weight: 700;
    border-radius: 10em;
    padding: 1.2em 2.5em;
    margin: 0 .5em;
    text-transform: uppercase;
}

.numbers__number {
    place-content: center;
    background-color: var(--BrightRed);
    padding: .8em 2em;
    height: 100%;
    position: absolute;
    border-radius: 2em;
    margin: 0 0 0 1em;
    transform: translateX(-50%);
}

.numbers__title {
    padding: .8rem 1rem .8rem 4.5rem;
}

.title__body {
    position: relative;
    background-color: var(--VeryPaleRed);
    margin-left: 2rem;
}

.depoiment{
    display: flex;
    flex-direction: column;
    background-color: var(--VeryLightGray);
    padding: 3em 1em 2em 1em;
    text-align: center;
}

.quickCall{
    background-color: var(--BrightRed);
    padding: 3em 1.5em;
    text-align: center;
    background-image: url(images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position-y: center;

}

.text__simplify{
    margin-top: 1.5em;
}

.container__simplify{
    margin-bottom: 1.5em;
}

.footer{
    background-color: var(--VeryDarkBlue);
    color: var(--VeryLightGray);
}

.input__footer{
     border-style: none;
    border-radius: 10em;
    padding: 1.2em 3em;
    color: var(--VeryLightGray);
}

.newsletter{
    margin-top: 2em;
}

.footer__list{
    display: flex;
    justify-content: space-between;
    margin: 2em 2em;
}

.footer__list--items{
    list-style: none;
}

.nav__item{
    margin: 1em;
}

.socials__list{
    display: flex;
    justify-content: space-between;
margin: 2em;
}

.img__socials {
    width: 10%;
    margin: 0 .9em 3em .9em;
}

.logo__footer{
    
    width: 50%;
    align-self: center;
    margin-bottom: 3em;
}